/Proxy_Pattern/Proxy_Pattern/obj
/Proxy_Pattern/Proxy_Pattern/bin
/Proxy_Pattern/.vs
/Iterator_Pattern/Iterator_Pattern/obj
/Iterator_Pattern/Iterator_Pattern/bin
obj
bin
/Stragety_Pattern/.vs/Stragety_Pattern/v16/Server/sqlite3
